.add-hobby-container{
	position:fixed;
	right:50vw;
	width:100px;
	display:flex;
	flex-direction:column;
	align-items: center;
}

.btn-container{
	height:40px;
	width:40px;
	display:flex;
	justify-content: center;
}
.btn-container:hover{
	cursor:pointer;
}

.btn-container__img{
	height:100%;
	width:100%;
}
.btn-container__img--animate{
	height:100%;
	width:100%;
	animation: rotation 0.3s 1 linear;
}

@keyframes rotation {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(90deg);
    }
  }
